{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Plant</title>
    <link rel="stylesheet" href="{% static 'main/css/add_plant.css' %}">
    <style>
        body {
            background-image: url('{% static 'main/assets/images/sky_1.png' %}');
        }
    </style>
</head>
<body>
    <header>
        <h1>Add a New Plant</h1>
    </header>

    <main>
        <form id="add-plant-form" method="POST" action="{% url 'add_plant' %}">
            {% csrf_token %}
            
            <label for="plant-name">Plant Name:</label>
            <input type="text" id="plant-name" name="plant_name" required>

            <label for="houseplant_type">Select Houseplant Type:</label>
            <select name="houseplant_type">
                <option value="">-- Select --</option>
                {% for houseplant in houseplants %}
                    <option value="{{ houseplant.id }}">{{ houseplant.name }}</option>
                {% endfor %}

            </select>
            <label for="hardware-id">Hardware ID (From Raspberry Pi):</label>
            <input type="text" id="hardware-id" name="hardware_id" required>

            <button type="submit">add Plant</button>
        </form>
    </main>

    <script src="{% static 'main/js/add_plant.js' %}"></script>
</body>
</html>
