{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Gardens</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <style>
        body {
            background-image: url('{% static 'main/assets/icon/background3.png' %}');
        }
    </style>
</head>

<body>
    {% csrf_token %}
    <header>
        <h1>My Gardens</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'home' %}">Back</a>
        </nav>
    </header>

    <main>
            {% for garden in gardens %}
            <section id="garden-container">

            <section class="garden-card" data-garden-id="{{ garden.id }}" data-garden-name="{{ garden.name }}">
                <img class="garden-settings" src="{% static 'main/assets/icon/settings-icon.png' %}" alt="Settings">
                <a href="{% url 'garden_details' garden.id %}" class="garden-card-link">
                <img src="{% static 'main/assets/icon/pot.webp' %}" alt="Garden Pot">
                <figcaption>{{ garden.name }}</figcaption>
            </a>
        </section>
            {% endfor %}
            <a href="{% url 'add_garden' %}">
                <section id="add-garden-card" class="garden-card">
                    <img src="{% static 'main/assets/icon/add-bookmark.png' %}" alt="Add Garden">
                    <figcaption>Add Garden</figcaption>
                </section>
                </a>
        </section>
    </main>

    <script src="{% static 'main/js/script.js' %}?{% now 'U' %}"></script>
</body>

</html>